.wrapper {
  padding: 30px;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 300px;
}
.list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.listItem {
  border: 1px solid white;
}
